@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.max-width{
    max-width: 1300px;
    padding: 0 0;
    margin: auto;
}

/*Navbar Styling*/
.navbar{
    position: fixed;
    width: 100%;
    padding: 30px 0;
    font-family: 'Ubuntu', sans-serif;
    transition: all 0.3s ease;     
}

.navbar.sticky{
    position: fixed;
    padding: 30px 0;
    background: crimson;
}

.navbar .max-width{
    display: flex; 
    align-items: center;
    justify-content: space-between;
}

.navbar .logo a{
    color: rgb(0, 0, 0);
    font-size: 60px;
    font-weight: 600;
}

.navbar .logo a span{
    color: royalblue;
    font-size: 60px;
    font-weight: 600;
}

.navbar .menu li{
    list-style: none;
    display: inline-block;
    width: 100px;
    margin: 15px;
    padding: 15px;
}

.navbar .menu li a{
    color: rgb(0, 0, 0);
    font-size: 25px;
    font-weight: 600;
    margin-left: 25px;
    transition: color 0.8s ease;
} 

.navbar .menu li a:hover{
    color: rgb(20, 220, 220);
} 

.active{
    background:rgb(221, 131, 131);
    border-radius: 5px;
}

/*Home Section Styling*/
.home{
    display: flex;
    background: url("/images/art-lasovsky-8XddFc6NkBY-unsplash.jpg") no-repeat center;
    height: 100vh;
    color: rgb(0, 0, 0);
    min-height: 500px;
    font-family: 'Ubuntu', sans-serif;
}

.home .max-width{
    margin:auto 0 auto 110px;
}

.home .home-content .text-1{
    font-size: 50px;
    font-weight: 700;
}

.home .home-content .text-2{
    font-size: 110px;
    font-weight: 600;
    margin-left: -3px;
}

.home .home-content .text-2 span{
    color: royalblue;
}

.home .home-content .text-3{
    font-size: 50px;
    margin: 5px 0;
}

.home .home-content .text-3 span{
    color: crimson;
    font-weight: 500;
}

/*Progress List Styling*/
#process_list{width: 100%; overflow: hidden; background: #fff; margin: 60px 0; position: relative;}
#process_list::after{width: 5px; position: absolute; height: 100%; content: ""; left: 50%; top: 0; background-color: grey; margin-left: -2.5;}
.inner-progress-list{width: 96%; max-width: 1170px; margin: 0 auto;}
.child-progress-list{width: 48%; float: left; clear: both;}
.child-progress-list h2{color: grey; font-size: 35px; font-weight: 700; border-bottom: 2px solid gray; position: relative;}
.child-progress-list h2::after{background: grey; position: absolute; width: 20px; height: 20px; content: ""; left: -31px; border-radius: 30px; top: 20px; border: 5px solid white; z-index: 999;}
.child-progress-list i{color: gainsboro; font-size: 35px; margin-bottom: 15px;}
.child-progress-list p{color: gray; font-size: 15px;}
.child-progress-list:nth-child(2n+1){float: right;}